.upload{
    .upload-border{
        border: 1px solid #bfe000;
        margin: 10px;
    }
    .upload-button{
        margin:10px;
        display: flex;        
        justify-content: center;
        align-content: center;
    }
}